@import "./variables";

@mixin headingsFont {
  font-family: $kanitFont;
  font-weight: bold;
}

@mixin primaryBox {
  background-color: $primaryBackground;
  text-align: center;
  a {
    color: $text-color;
  }

  img {
    width: 35vw;
    border-radius: 50%;
    margin-bottom: 5vh;
  }

  h1,
  h5 {
    color: $headings-color;
    text-shadow: black;
  }
  p {
    color: $text-color;
  }
}

@mixin coverImage {
  background-image: url(../img/cover2.jpg);
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  background-repeat: no-repeat;
  background-blend-mode: soft-light;
  box-shadow: inset 0px 0px 0px 5000px rgba(0, 0, 0, 0.4);
}

@mixin buttons {
  background-color: $text-color;
  color: black;
  box-shadow: none;
}

@mixin h2Property {
  text-align: center;
  color: $text-color;
  margin: {
    top: 10vh;
  }
}
