@import "./variables";

@mixin primaryBox {
  background-color: $primaryBackground;
  text-align: center;
  a {
    color: $text-color;
  }

  img {
    width: 35vw;
    border-radius: 50%;
    margin-bottom: 5vh;
  }

  h1 {
    color: $headings-color;
    text-shadow: black;
  }
  p {
    color: $text-color;
  }
}

@mixin coverImage {
  background-image: url(../img/cover.jpg);
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  background-repeat: no-repeat;
  background-blend-mode: soft-light;
  background-position-x: -8vh;
}

@mixin buttons {
  background-color: $text-color;
  color: black;
}

@mixin h2Property {
  text-align: center;
  color: $text-color;
  margin: {
    top: 10vh;
  }
}
