@import "./variables";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "./mixin";

body {
  background-color: #fff9ec;
}

button {
  @include buttons;
}

h1,
h2 {
  @include headingsFont;
}

h2 {
  @include h2Property;
}

p,
nav a {
  font-family: $kanitFont;
}

.box {
  @include primaryBox;
}

#presentation {
  background-color: transparent;
}

#cover-container {
  @include coverImage;
}

#carousel {
  .carousel-item {
    height: 45vh;
  }
}

#sponsor {
  @include h2Property;
  a {
    @include buttons;
  }
  img {
    width: 25vh;
    margin: 2vh auto;
  }
}
