@import "./variables";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "./mixin";

body {
  background-color: $secondaryBackground;
  overflow-x: hidden;
}

button {
  @include buttons;
}

h1,
h2 {
  @include headingsFont;
}

h2 {
  @include h2Property;
}

p,
nav a {
  font-family: $kanitFont;
}

.box {
  @include primaryBox;
}

#presentation {
  background-color: transparent;
}

#cover-container {
  @include coverImage;
}

#carousel {
  .carousel-item {
    height: 45vh;
  }
}

#sponsor {
  @include h2Property;
  img {
    width: 25vh;
    margin: 2vh auto;
  }

  .container-fluid {
    background-color: $primaryBackground;
  }
}

footer {
  @include headingsFont;
  background-color: $primaryBackground;
  color: $text-color;
  text-align: center;
  padding: {
    bottom: 4vh;
  }
}
