@import "./variables";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "./mixin";

body {
  background-color: #fff9ec;
}

button {
  @include buttons;
}

h2 {
  @include h2Property;
}

.box {
  @include primaryBox;
  a {
    color: $text-color;
  }

  img {
    width: 40vw;
    border-radius: 50%;
    margin-bottom: 5vh;
  }
}

#presentation {
  background-color: transparent;
}

#cover-container {
  @include coverImage;
}

#carousel {
  button {
    background-color: $primaryBackground;
  }

  .container {
    padding: {
      top: 2vh;
      right: 5vh;
    }
  }
}

#sponsor {
  @include h2Property;
  a {
    @include buttons;
  }
}
